/utils/data-analytics-function-management/src/test
/utils/data-analytics-function-management/target

/utils/depic-install/src/test
/utils/depic-install/target

/depic/data-asset-loader/src/test
/depic/data-asset-loader/target

/depic/depic-common/src/test
/depic/depic-common/target

/depic/depic-tooling/src/test
/depic/depic-tooling/target

/depic/orchestrator/src/test
/depic/orchestrator/target


