/utils/data-analytics-function-management/src/test
/utils/data-analytics-function-management/target

/utils/depic-install/src/test
/utils/depic-install/target

/depic/data-asset-loader/src/test
/depic/data-asset-loader/target

/depic/depic-common/src/test
/depic/depic-common/target

/depic/depic-tooling/src/test
/depic/depic-tooling/target

/depic/orchestrator/src/test
/depic/orchestrator/target


/depic/depic-test/target/
/depic/depic-elastic-process-generator/target/
/depic/depic-daas-generator/target/
/depic/depic-repository/target/
/depic/depic-connector/target/
/external-services/taverna-java-client-master/TavernaClient/nbproject/private/
/utils/ElasticDaaSClient/target/
/utils/DAFServices/target/