/DEPIC/sSYBL/target/
/DEPIC/Client/Client/target/
/DEPIC/DepicTool/target/
/DEPIC/Common/target/
/DEPIC/Orchestrator/target/
/DEPIC/DataAssetLoader/target/
/DEPIC/DepicTooling/target/
/DEPIC/DepicTooling/template/eDaaS/target/
/QoRAnalytics/target/
/QoRAnalytics/config/
/QoRAnalytics/log/
/DEPIC/DepicTooling/src/main/java/at/ac/tuwien/dsg/depictool/demo
/BigDemo/QoRAnalytics/target/
/TestActiviti/nbproject/private/
/TestActiviti/build/
/DEPIC/TestMOMConnector/nbproject/private/
